
            div {
           border: width 1px;
           border-style: solid;
           border-color: black;
            }
            .top-header{
         font-size: x-large;
          background-color: black; 
          color: white;        
         height: 30px;  
         text-align: right; 
        }
          .header {
            height: 100px;
                background-color: lightgreen;
                background-image: url(../img/header.jpg);
                background-size: cover;
          }
          .menu {
            font-size: x-large;
            text-align: center;
            background-color: white;
            color: black;
        
          }
          .wrapper{
            width: 1000px;
            margin: auto;
          }
          .content{
            height: 500px;
            text-align: center;
            background-color: white;
          }
          .footer{
            height: 40px;
            background-color: black;
            color: white;
           text-align: center;
           font-size: larger;
          }
          body{
            background-image:url(../img/background.jpg) ;
            background-size: cover;
          }